/**********************
 Widget
 **********************/

div.Widget {
	border: 1px solid #484;
	overflow: hidden;
}


/**********************
 WidgetWindowScale
 **********************/

div.WidgetWindowScale {
	width: 100%;
}

div.WidgetWindowScale svg {
	height: 25px;
	width: 100%;
}

div.WidgetWindowScale svg path {
	display: none;
}
div.WidgetWindowScale svg text {
	font-size: 10pt;
}

div.WidgetWindowScale p {
	margin: 2px 1px;
	border-left: solid 1px black;
	position: relative;
	top: 0px;
}

div.WidgetWindowScale p.left {
	float: left;
}
div.WidgetWindowScale p.right {
	float: right;
}

/**********************
 WidgetTraceDisplayIcons
 **********************/

div.WidgetTraceDisplayIcons {
	width: 100%;
	height: 50px;
}

div.WidgetTraceDisplayIcons svg {
	width: 100%;
	height: 100%;
}

/**********************
 WidgetObselInspector
 **********************/

div.WidgetObselInspector {
	margin: auto;
	width: 500px;
	border: 1px solid #484;
	display: none;
}

div.WidgetObselInspector span {
	margin: 2px;
	font-size: 1em;
	float: right;
	color: #ddd;
	cursor: pointer;
}

div.WidgetObselInspector img {
	opacity: 0.4;
	cursor: pointer;
}

div.WidgetObselInspector:hover span img {
	opacity: 1;
}

div.WidgetObselInspector:hover span {
	font-size: 1em;
	float: right;
	color: grey;
}

/**********************
 WidgetBasicWindowSlider
 **********************/

div.WidgetBasicWindowSlider {
	width: 100%;
	height: 10px;
}

div.WidgetBasicWindowSlider div {
	height: 10px;
	border-radius: 6px;
	background-color: #afa;
	margin: -1px 0 -1px 0;
	border: 1px solid #4a4;
	position: relative;
	top: 0px;
	display: none;
	cursor: pointer;
}

/**********************
 WidgetBasicTimeSlider
 **********************/

div.WidgetBasicTimeSlider {
	width: 100%;
	height: 20px;
}

div.WidgetBasicTimeSlider div {
	width: 0px;
	height: 18px;
	border: 1px solid red;
	position: relative;
	top: 0px;
	display: none;
	cursor: pointer;
}
